body{
    background-color: #171717;
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 130px;
    margin-right: 130px;
    font-weight: 200;
}
header{
    position: fixed;
    top:30px;
    right: 10px;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: white;
}
#myinfo{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
#intro{
    font-size: 55px;
    font-weight: 600;
    color: #dedede;;
}
#title{
    font-size: 16px;
    font-weight: 200;
    display: block;
    margin-top: 2px;
}
#abouttext{
    color: #8a8a8a;
    font-size: 21px;
    font-weight: 200;
    display: block;
    margin-top: 50px;
}
#socials{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    gap: 10px;

}
.iconset{
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 5px
}
.icon{
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.243) ;
    border-radius: 10px;
    padding: 15px;
    font-size: 30px;
}
.iconlabel{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 1s ease-in-out;
    border: none;
    border-radius: 2px;
    background-color: white;
    color:black;
    font-size: 10px;

}
/* .icon:hover + .iconlabel{
    visibility: visible;
    opacity: 1;
} */

#projects{
    margin-top: 150px;
}

footer{
    font-size: 10px;
}