body{
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    font-weight: 200;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(136, 136, 136);
    font-weight: 300;
    opacity: 0;
    animation: glow 2s 1s ease-in-out 1 forwards; 
}
#resume{
    font-size: 14px;
    font-weight: 300;
}
header button{
    all: unset;
    border: none;
    background-color: transparent;
    color: rgb(136, 136, 136);
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
}
#links{
    display: flex;
    gap: 16px;
}
#links a{
    display: flex;
    text-decoration: none;
    color: rgb(136, 136, 136);
    align-items: center;
    gap: 5px;
}
#resume i{
    font-size: 12px;
}
.contact{
    display: flex;
    font-size: 18px;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#links #resume:hover, header button:hover{
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
#links .contact:hover{
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
#myinfo{
    display: flex;
    flex-direction: column;
    margin-top: 250px;
}
#intro{
    display: block;
    font-size: 50px;
    font-weight: 600;
    color: #dedede;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s ease-in-out 1 forwards;
}
#title{
    color: rgb(215, 215, 215);
    font-size: 15px;
    font-weight: 200;
    display: block;
    margin-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    animation: glow 2s 1s ease-in-out 1 forwards; 
}
#abouttext{
    margin-top: 50px;
    font-size: 21px;
    font-weight: 200;
    opacity: 0;
    animation: glow 2s 1s ease-in-out 1 forwards; 
    background: -webkit-linear-gradient(#c9c9c9,rgb(122, 122, 122) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.company{
    -webkit-text-fill-color: rgba(255, 255, 255, 0.846);
    text-decoration: none;
}
.company:hover{
    font-weight: 500;
    text-decoration: none;
    transition: font-weight 0.3s ease;
    cursor: pointer;
}
#projects{
    margin-top: 150px;
}
@keyframes typing{
    from{
        width:0%;
        opacity: 0;
    }
    to{
        width: 100%;
        opacity: 1;
    }
}
@keyframes glow{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
footer{
    font-size: 10px;
}